
Workshop Desc.txt
workfolder/csgo_vietnamese.txt
workfolder/csgo_ukrainian.txt
workfolder/csgo_turkish.txt
workfolder/csgo_thai.txt
workfolder/csgo_tchinese.txt
workfolder/csgo_swedish.txt
workfolder/csgo_spanish.txt
workfolder/csgo_schinese_pw.txt
workfolder/csgo_schinese.txt
workfolder/csgo_russian.txt
workfolder/csgo_romanian.txt
workfolder/csgo_portuguese.txt
workfolder/csgo_polish.txt
workfolder/csgo_pirate.txt
workfolder/csgo_norwegian.txt
workfolder/csgo_latam.txt
workfolder/csgo_koreana.txt
workfolder/csgo_korean.txt
workfolder/csgo_japanese.txt
workfolder/csgo_italian.txt
workfolder/csgo_hungarian.txt
workfolder/csgo_greek.txt
workfolder/csgo_german.txt
workfolder/csgo_french.txt
workfolder/csgo_finnish.txt
workfolder/csgo_english.txt
workfolder/csgo_dutch.txt
workfolder/csgo_danish.txt
workfolder/csgo_czech.txt
workfolder/csgo_bulgarian.txt
workfolder/csgo_brazilian.txt
workfolder/alocalizer.py
