
Workshop Desc.txt
workfolder/csgo_vietnamese.txt
workfolder/csgo_ukrainian.txt
workfolder/csgo_turkish.txt
workfolder/csgo_thai.txt
workfolder/csgo_tchinese.txt
workfolder/csgo_swedish.txt
workfolder/csgo_spanish.txt
workfolder/csgo_schinese_pw.txt
workfolder/csgo_schinese.txt
workfolder/csgo_russian.txt
workfolder/csgo_romanian.txt
workfolder/csgo_portuguese.txt
workfolder/csgo_polish.txt
workfolder/csgo_pirate.txt
workfolder/csgo_norwegian.txt
workfolder/csgo_latam.txt
workfolder/csgo_koreana.txt
workfolder/csgo_korean.txt
workfolder/csgo_japanese.txt
workfolder/csgo_italian.txt
workfolder/csgo_hungarian.txt
workfolder/csgo_greek.txt
workfolder/csgo_german.txt
workfolder/csgo_french.txt
workfolder/csgo_finnish.txt
workfolder/csgo_english.txt
workfolder/csgo_dutch.txt
workfolder/csgo_danish.txt
workfolder/csgo_czech.txt
workfolder/csgo_bulgarian.txt
workfolder/csgo_brazilian.txt
workfolder/alocalizer.py
lua/arc9/common/localization/skininfo/New folder/all-skins-zh-tw.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-zh-cn.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-vi.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-uk.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-tr.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-th.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-sv-se.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-ru.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-pt-pt.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-pt-br.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-pl.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-no.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-nl.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-ko.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-ja.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-it.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-hu.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-fr.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-fi.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-es-es.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-en.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-el.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-de.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-da.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-cs.lua
lua/arc9/common/localization/skininfo/New folder/all-skins-bg.lua
.forworkshop/20230509231542_1.jpg
.forworkshop/20230509231556_1.jpg
.forworkshop/20230509231623_1.jpg
.forworkshop/20230509231642_1.jpg
.forworkshop/20230509231715_1.jpg
.forworkshop/20230509233417_1.jpg
.forworkshop/logo.jpg
.forworkshop/logo2.jpg
workfolder/output.lua
workfolder/alocalizersticker.py
workfolder/alocalizersticker-batch.bat
